@import "../shared/variables";

.evtdetails-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.evtdetails {
  padding: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: $font-size-section-content;
  &__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > div {
      padding: 2rem;
    }
  }
  &__times {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > div {
      padding: 2rem;
    }
  }
}
