@import "../shared/_variables.scss";
@import "../shared/_mixins.scss";

.event-wrapper {
  @include article-wrapper-padding-light;
}

.event-title {
  font-family: $font-fam1 $font-fam1-backup1 $font-fam1-backup2;
  font-size: $font-size-hero-text;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.event-image {
  &__img {
    max-height: 40rem;
  }
}
