@import "../shared/variables";
@import "../shared/mixins";

.section-header_wrapper {
  &__dark {
    @include section-wrapper-padding;
    font-family: $font-fam1;
    font-size: $font-size-section-header;
    background-color: $color-content-dark;
    color: $color-content-light;
  }
  &__light {
    @include section-wrapper-padding;
    font-family: $font-fam1;
    font-size: $font-size-section-header;
    background-color: $color-content-light;
    color: $color-content-dark;
  }
}

.section-header {
  &__dark {
    > div {
      border-bottom: 1px solid $color-content-light;
    }
  }
  &__light {
    border-bottom: 1px solid $color-content-dark;
  }
}
