@import "../shared/variables";
@import "../shared/mixins";

p {
  @include richtext-std;
}

b {
  font-weight: bold 700;
}

h3 {
  @include richtext-std;
  font-size: $font-size-section-header;
}

h4 {
  @include richtext-std;
  font-size: $font-size-subsection-header;
}

ul {
  @include richtext-std;
}

ol {
  @include richtext-std;
}

li {
  @include richtext-std;
}

blockquote {
  @include richtext-std;
}

hr {
  border-top: 1px solid $color-content-dark;
}

a {
  @include richtext-std;
}
