@import "./shared/_variables.sass";
@import "./shared/mixins";

.header {
  background-color: $color-header-light;
  &__wrapper {
    max-width: $outer-width-max;
    margin-left: auto;
    margin-right: auto;
  }
  &__bar {
    @include nav-bar-structure;
    justify-content: space-between;
  }
}
