@use "./mixins";

@import "./base";
@import "./variables";

// == Reusables ==

// Subheader
/* #region */
.subheader-subtitle {
  // border-bottom: 0.5rem solid $color-header-light;
  // display: inline-block;

  margin: auto;

  font-size: $font-size-subheader-title;
  color: $color-header-light;
  text-align: center;
  &__box {
    display: inline-block;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-header-light;
  }
}

.subheader-subnav {
  @include mixins.nav-bar-structure;
  justify-content: center;
  font-size: $font-size-subnav;

  &__item {
    @include mixins.nav-element-styling;
    @include mixins.nav-element-styling__lighttxt;
  }
}

.subheader-wrapper {
  background-color: $color-header-dark;
  padding: 2rem 0;
}

.subHeader {
  display: flex;
  flex-direction: column;
}
/* #endregion */

// Section Header
/* #region */
.section-header_wrapper {
  &__dark {
    @include mixins.section-wrapper-padding;
    font-family: $font-fam1;
    font-size: $font-size-section-header;
    background-color: $color-content-dark;
    color: $color-content-light;
  }
  &__light {
    @include mixins.section-wrapper-padding;
    font-family: $font-fam1;
    font-size: $font-size-section-header;
    background-color: $color-content-light;
    color: $color-content-dark;
  }
}

.section-header {
  &__dark {
    > div {
      border-bottom: 1px solid $color-content-light;
    }
  }
  &__light {
    border-bottom: 1px solid $color-content-dark;
  }
}

.section-content-wrapper {
  @include mixins.section-wrapper-padding;
  &__light {
    background-color: $color-content-light;
  }
  &__dark {
    background-color: $color-content-dark;
  }
}
/* #endregion */

// Section Columns - 4 columns (content)
/* #region */
.section-cols-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  &__text {
    font-size: $font-size-section-content;
    max-width: 50rem;
    min-width: 20rem;
    width: 40vw;
  }
  &__img {
    padding: 4rem 1.5rem;
    width: 9vw;
    min-width: 10rem;
    display: inline-block;

    &__icon {
      max-width: 100%;
    }
    &__label {
      padding: 1.5rem 0;
      font-size: $font-size-section-icolabel;
      text-align: center;
    }
  }
}

.section-events-2 {
}
/* #endregion */

// Event Box
/* #region */
.eventbox {
  position: relative;
  // width: 100%;
  @include mixins.respond-to("tablet") {
    position: static;
    padding-bottom: 1rem;
  }

  &__image {
    // position: relative;
    // width: 45vw;
    max-width: 100%;
    padding: 1rem;
    object-fit: cover;
    @include mixins.respond-to("tablet") {
      position: static;
      padding: 0;
      height: 10rem;
      > div {
        > div {
          > img {
            height: 10rem;
            width: 100%;
          }
        }
      }
    }
  }
  &__textsection {
    width: 70%;
    position: absolute;
    top: 8%;
    left: 8%;
    color: $color-content-light;
    padding: 2rem;
    font-family: $font-fam1;
    font-size: $font-size-section-content;
    background-color: $color-content-dark-opacity_1;

    @include mixins.respond-to("monitor") {
      // position: absolute;
      padding: 1rem;
      top: auto;
      bottom: 2rem;
      left: 2rem;
      font-size: $font-size-section-content_monitor;
    }

    @include mixins.respond-to("tablet") {
      position: static;
      width: 100%;
      padding: 1rem;
      background-color: $color-content-dark-opacity_2;
      font-size: $font-size-section-content_tablet;
    }

    &__title {
      padding-bottom: 5rem;
      font-size: $font-size-section-header;
      @include mixins.respond-to("monitor") {
        padding-bottom: 2rem;
        font-size: $font-size-section-header_monitor;
      }
      @include mixins.respond-to("tablet") {
        font-size: $font-size-section-header_tablet;
      }
    }
    &__date {
      // position: absolute;
      padding-bottom: 2rem;
      @include mixins.respond-to("monitor") {
        padding-bottom: 1rem;
      }
      @include mixins.respond-to("tablet") {
        display: inline-flex;
      }
    }
    &__button {
      // position: absolute;
      background-color: $color-content-dark-opacity_1;
      padding: 1rem;
      @include mixins.nav-element-styling;
      @include mixins.nav-element-styling__lighttxt;
      font-size: $font-size-section-button;
      @include mixins.respond-to("monitor") {
        padding: 0.8rem;
      }
      @include mixins.respond-to("tablet") {
        padding: 0.6rem;
        margin-left: 5vw;
        display: inline-flex;
        border: 1px solid $color-content-dark;
      }

      &__link {
        // border: 1px solid $color-content-light;
        text-align: center;
        font-size: $font-size-section-button;
        @include mixins.respond-to("monitor") {
          font-size: $font-size-section-button_monitor;
        }
        @include mixins.respond-to("tablet") {
          font-size: $font-size-section-button_tablet;
        }
      }
    }
  }
}
/* #endregion */

// Article head
/* #region */
.article-head-wrapper {
  background-color: $color-header-light;
}

.article-head {
  @include mixins.header-footer-wrapper-positioning;
  @include mixins.nav-element-styling;
  @include mixins.nav-element-styling__darktxt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: $font-size-subnav;
  &__link {
    padding: 0 1rem;
  }
  &__icon {
  }
}
/* #endregion */
