@use "./mixins";

@import "./base";
@import "./variables";

// == Reusables ==

// Section Header
/* #region */
.section-header_wrapper {
  &__dark {
    @include mixins.section-wrapper-padding;
    font-family: $font-fam1;
    font-size: $font-size-section-header;
    background-color: $color-content-dark;
    color: $color-content-light;
    @include mixins.respond-to("tablet") {
      font-size: $font-size-section-header_tablet;
    }
    @include mixins.respond-to("mobile") {
      padding-bottom: 1rem;
      font-size: $font-size-section-header_mobile;
    }
  }
  &__light {
    @include mixins.section-wrapper-padding;
    font-family: $font-fam1;
    font-size: $font-size-section-header;
    background-color: $color-content-light;
    color: $color-content-dark;
    @include mixins.respond-to("tablet") {
      font-size: $font-size-section-header_tablet;
    }
    @include mixins.respond-to("mobile") {
      padding-bottom: 1rem;
      font-size: $font-size-section-header_mobile;
    }
  }
}

.section-header {
  &__dark {
    > div {
      border-bottom: 1px solid $color-content-light;
    }
  }
  &__light {
    border-bottom: 1px solid $color-content-dark;
  }
}

.section-content-wrapper {
  @include mixins.section-wrapper-padding;
  @include mixins.respond-to("mobile") {
    padding-bottom: 0;
  }
  &__light {
    background-color: $color-content-light;
  }
  &__dark {
    background-color: $color-content-dark;
  }
}
/* #endregion */

.section-content{
  font-size: $font-size-section-content;
  &__light{
    @include mixins.section-wrapper-padding-light;
  }
  &__dark{
    @include mixins.section-wrapper-padding-dark;

  }
}

// Section Columns - 4 columns (content)
/* #region */
.section-cols-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  &__text {
    font-size: $font-size-section-content;
    max-width: 50rem;
    min-width: 20rem;
    width: 40vw;
    @include mixins.respond-to("tablet") {
      font-size: $font-size-section-content_tablet;
      max-width: 100%;
      width: 100%;
    }
  }
  &__img {
    padding: 4rem 1.5rem;
    width: 9vw;
    min-width: 10rem;
    display: inline-block;
    @include mixins.respond-to("mobile") {
      padding-top: 3rem;
      padding-bottom: 1rem;
      min-width: 7.5rem;
    }

    &__icon {
      max-width: 100%;
      @include mixins.respond-to("mobile") {
        // width: 10rem;
      }
    }
    &__label {
      padding: 1.5rem 0;
      font-size: $font-size-section-icolabel;
      text-align: center;
      @include mixins.respond-to("tablet") {
        font-size: $font-size-section-icolabel_tablet;
      }
      @include mixins.respond-to("mobile") {
        font-size: $font-size-section-icolabel_mobile;
      }
    }
  }
}

/* #endregion */

.section-banner{
  max-height: 600px;
}


// Event Box
/* #region */
.eventbox {
  position: relative;
  // width: 100%;
  @include mixins.respond-to("tablet") {
    position: static;
    padding-bottom: 1rem;
  }
  @include mixins.respond-to("mobile") {
    width: 100%;
  }

  &__image {
    // position: relative;
    // width: 45vw;
    max-width: 100%;
    padding: 1rem;
    object-fit: cover;
    @include mixins.respond-to("tablet") {
      position: static;
      padding: 0;
      height: $eventbox-image-height_tablet;
    }
    @include mixins.respond-to("mobile") {
      height: $eventbox-image-height_mobile;
    }
  }

  &__textsection {
    width: 70%;
    position: absolute;
    top: 8%;
    left: 8%;
    color: $color-content-light;
    padding: 2rem;
    font-size: $font-size-section-content;
    background-color: $color-content-dark-opacity_2;

    @include mixins.respond-to("monitor") {
      // position: absolute;
      padding: 1rem;
      top: auto;
      bottom: 2rem;
      left: 2rem;
      font-size: $font-size-section-content_monitor;
    }

    @include mixins.respond-to("tablet") {
      position: static;
      width: 100%;
      // margin: 0 1rem;
      padding: 1rem;
      background-color: $color-content-dark-opacity_3;
      font-size: $font-size-section-content_tablet;
      display: block;
    }

    @include mixins.respond-to("mobile") {
      // top: auto;
      // bottom: auto;
      // left: auto;
    }

    &__title {
      padding-bottom: 5rem;
      font-size: $font-size-section-header;
      @include mixins.respond-to("monitor") {
        padding-bottom: 2rem;
        font-size: $font-size-section-header_monitor;
      }
      @include mixins.respond-to("tablet") {
        display: block;
        // padding-left: 1rem;
        padding-bottom: 0.5rem;
        font-size: $font-size-section-header_tablet;
        text-align: center;
      }
      @include mixins.respond-to("mobile") {
        display: block;
        font-size: $font-size-section-header_mobile;
      }
    }

    &__content {
      @include mixins.respond-to("tablet") {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // height: 2.5rem;
        // align-content: center;
      }
    }

    &__date {
      padding-bottom: 2rem;
      @include mixins.respond-to("monitor") {
        padding-bottom: 1rem;
      }
      @include mixins.respond-to("tablet") {
        display: block;
        text-align: center;
      }
      @include mixins.respond-to("mobile") {
      }
    }
    &__button {
      background-color: $color-content-dark-opacity_2;
      padding: 1rem;
      @include mixins.nav-element-styling;
      @include mixins.nav-element-styling__lighttxt;
      font-size: $font-size-section-button;
      @include mixins.respond-to("monitor") {
        padding: 0.8rem;
      }
      @include mixins.respond-to("tablet") {
        display: block;
        align-self: center;
        // margin: auto;

        padding: 0.6rem;
        // margin-left: 5vw;
        // display: inline-flex;
        border: 1px solid $color-content-light;
      }

      &__link {
        // border: 1px solid $color-content-light;
        text-align: center;
        font-size: $font-size-section-button;
        @include mixins.respond-to("monitor") {
          font-size: $font-size-section-button_monitor;
        }
        @include mixins.respond-to("tablet") {
          font-size: $font-size-section-button_tablet;
          // padding: auto;
        }
      }
    }
  }
}

.eventimage {
  @include mixins.respond-to("tablet") {
    height: $eventbox-image-height_tablet;
    width: 100%;
  }
  @include mixins.respond-to("mobile") {
    height: $eventbox-image-height_mobile;
  }
}
/* #endregion */

// Article head
/* #region */
.article-head-wrapper {
  background-color: $color-header-light;
}

.article-head {
  @include mixins.header-footer-wrapper-positioning;
  @include mixins.nav-element-styling;
  @include mixins.nav-element-styling__darktxt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: $font-size-subnav;
  &__link {
    padding: 0 1rem;
  }
  &__icon {
  }
}
/* #endregion */
