@use "./mixins";

@import "./base";
@import "./variables";

// == Subheader ==
/* #region */
.subheader-subtitle {
  margin: auto;

  font-size: $font-size-subheader-title;
  color: $color-header-light;
  text-align: center;

  &__box {
    display: inline-block;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-header-light;
  }
}

.subheader-subnav {
  @include mixins.nav-bar-structure;
  justify-content: center;
  font-size: $font-size-subnav;

  &__item {
    @include mixins.nav-element-styling;
    @include mixins.nav-element-styling__lighttxt;
  }
}

.subheader-wrapper {
  background-color: $color-header-dark;
  padding: 2rem 0;
}

.subHeader {
  display: flex;
  flex-direction: column;
}

/* #endregion */
