@import "./_variables.sass";

.nav-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.nav {
  font-size: $font-size-topnav;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  & > div {
    padding: 1rem;
    a:link {
      text-decoration: none;
      color: $color-header-dark;
    }
    a:visited {
      text-decoration: none;
      color: $color-header-dark;
    }

    a:hover {
      text-decoration: none;
      // transform: scale(1.2);
      // color: $color-header-light;
      // background-color: $color-header-dark;
      // @at-root.div {
      //   color: $color-header-light;
      //   background-color: $color-header-dark;
      // }
    }

    a:active {
      text-decoration: none;
      color: $color-header-dark;
    }
  }
}
