@import "../shared/_variables.scss";
@import "../shared/mixins";

.textbox {
  padding: 2rem;
  position: absolute;
  bottom: 5%;
  right: 5%;

  background-color: $color-content-dark-opacity_1;

  max-width: 40rem;

  &__text {
    font-size: $font-size-hero-text;
    margin-bottom: 2rem;

    @include respond-to("wscr") {
      font-size: $font-size-hero-text_wscr;
    }

    @include respond-to("lap") {
      font-size: $font-size-hero-text_lap;
    }

    @include respond-to("tab") {
      font-size: $font-size-hero-text_tab;
      margin-bottom: 1rem;
    }

    @include respond-to("mob") {
      font-size: $font-size-hero-text_mob;
    }
  }
  &__button {
    padding: 1% 20%;
    &__contents {
      border: solid 0.5px $color-content-light;
      // margin: 20%;

      font-size: $font-size-hero-button;

      @include respond-to("wscr") {
        font-size: $font-size-hero-button_wscr;
      }

      @include respond-to("lap") {
        font-size: $font-size-hero-button_lap;
      }

      @include respond-to("tab") {
        font-size: $font-size-hero-button_tab;
      }

      @include respond-to("mob") {
        font-size: $font-size-hero-button_mob;
      }

      @include nav-element-styling;
      @include nav-element-styling__lighttxt;
    }
  }
}
