@import "../shared/_variables.scss";
@import "../shared/_mixins.scss";

.how-content-wrapper {
  @include section-wrapper-padding;
  background-color: $color-content-light;
}

// .how-content {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   &__col {
//     padding: 4rem;
//   }
// }

.how-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  &__col {
    max-width: 30rem;
    min-width: 20rem;
  }
}
