@import "./shared/_variables.scss";
@import "../styles/shared/mixins";

.topnav-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.topnav-bar {
  font-size: $font-size-topnav;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  & > div {
    @include nav-element-styling;
    @include nav-element-styling__darktxt;

    padding: 1rem;
  }
}
