@import "../shared/variables";
@import "../shared/mixins";

.sectionbody {
  @include section-wrapper-padding-light;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
