@import "../shared/_variables.scss";
@import "../shared/base";
@import "../shared//mixins";

.hero-image-wrapper {
  position: relative;
  text-align: center;
  color: $color-content-light;
  font-size: 5rem;
  background-color: $color-content-dark;
}

img {
  filter: brightness(70%);
}
