@import "../shared/variables";

.iconcol {
  color: $color-content-dark;
  &__text {
    font-size: $font-size-section-content;
  }
  &__img {
    padding: 6rem;
    &__ico {
    }
    &__label {
      padding-top: 4rem;
      font-size: $font-size-section-icolabel;
      text-align: center;
    }
  }
}
